{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
	"backup_policy": "device",	 
    "nodes": [{
		"role": "pg_standalone",
        "container": {
            "type": "lxc",
            "image": "img-ofp0f1m6",
            "zone": "sh1a"
        },
        "cpu": {{cluster.pg_standalone.cpu}},
        "memory": {{cluster.pg_standalone.memory}},
        "instance_class": {{cluster.pg_standalone.instance_class}},
		"count": {{cluster.pg_standalone.count}},
		"volume": {
            "size": {{cluster.pg_standalone.volume_size}},
            "mount_point": "/data",
            "mount_options": "defaults,noatime",
            "filesystem": "ext4",
            "class": {{cluster.pg_standalone.volume_class}} 
        },
        "services": {
			"init": { 
                "cmd": "/usr/lib/postgresql/9.6/bin/scripts/pginit.sh"
            },
			"start": { 
                "cmd": "/usr/lib/postgresql/9.6/bin/scripts/pgstart.sh"
            },
			"restart": {
                "cmd": "echo `date '+%Y-%m-%d %H:%M:%S'`:Restart by Appcenter interface!Start>>/data/pgsql/main/pg_log/pgscripts.log;service postgresql restart;echo `date '+%Y-%m-%d %H:%M:%S'`:Restart by Appcenter interface!End>>/data/pgsql/main/pg_log/pgscripts.log"
                 },
            "stop": {
                "cmd": "service postgresql stop  -m fast"
            },
			 "backup": {
                "cmd": "echo `date '+%Y-%m-%d %H:%M:%S'`:Backup by Appcenter interface!>>/data/pgsql/main/pg_log/pgscripts.log", 
                "timeout": 86400
            }
        },
		"env": {
		  "DBname": {{env.DBname}},
		  "DBusername": {{env.DBusername}},
		  "DBpassword": {{env.DBpassword}},
		  "max_connections": {{env.max_connections}}, 
		  "wal_buffers": {{env.wal_buffers}},
		  "work_mem": {{env.work_mem}},
		  "effective_cache_size": {{env.effective_cache_size}},
		  "maintenance_work_mem": {{env.maintenance_work_mem}},
		  "wal_keep_segments": {{env.wal_keep_segments}},		  
		  "checkpoint_timeout": {{env.checkpoint_timeout}}, 
		  "autovacuum": {{env.autovacuum}},
		  "vacuum_cost_delay": {{env.vacuum_cost_delay}},
		  "autovacuum_naptime": {{env.autovacuum_naptime}},
		  "vacuum_cost_limit": {{env.vacuum_cost_limit}},
		  "bgwriter_delay": {{env.bgwriter_delay}},
		  "bgwriter_lru_multiplier": {{env.bgwriter_lru_multiplier}}, 
		  "wal_writer_delay": {{env.wal_writer_delay}},
		  "fsync": {{env.fsync}},
		  "commit_delay": {{env.commit_delay}},
		  "commit_siblings": {{env.commit_siblings}},
		  "enable_bitmapscan": {{env.enable_bitmapscan}},
		  "enable_seqscan": {{env.enable_seqscan}},
		  "full_page_writes": {{env.full_page_writes}},
		  "log_min_messages": {{env.log_min_messages}},
		  "deadlock_timeout": {{env.deadlock_timeout}},
		  "log_lock_waits": {{env.log_lock_waits}},
		  "log_min_duration_statement": {{env.log_min_duration_statement}},
		  "temp_buffers": {{env.temp_buffers}},
		  "max_prepared_transactions": {{env.max_prepared_transactions}},
		  "max_wal_senders": {{env.max_wal_senders}},
		  "bgwriter_lru_maxpages": {{env.bgwriter_lru_maxpages}},
		  "log_statement": {{env.log_statement}}
		},
		"health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 60,
            "action_timeout_sec": 30,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "/usr/lib/postgresql/9.6/bin/scripts/pghealthcheck.sh",
            "action_cmd": "/usr/lib/postgresql/9.6/bin/scripts/pghealthcheckaction.sh"
        },
		"monitor": {
        "enable": true,
        "cmd": "/usr/lib/postgresql/9.6/bin/scripts/pgmonitor.py",
        "items": {
            "connCnt": {
                "unit": "",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
            "commitCnt": {
                "unit": "",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
			"waiteventCnt": {
                "unit": "",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
            "deadlocksCnt": {
                "unit": "",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            }
        },
		"groups": {
			"connCntGrp": ["connCnt"],
			"commitCntGrp": ["commitCnt"],
			"waiteventCntGrp": ["waiteventCnt"],
			"deadlocksCntGrp": ["deadlocksCnt"]
		},
		"display": ["connCntGrp","commitCntGrp","waiteventCntGrp","deadlocksCntGrp"],
		"alarm": ["connCnt", "deadlocksCnt"]
     }
    }
	]
}
